# **Pandas**
---

All ***pandas*** feature under same platform:

collect all data that can be collected through pandas libary of the link of **Titanic passenger details** as
https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

# ***Questions:***

---




1.  Importing data set and read csv files i.e:  https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv
            using: data = pd.read_csv("file.csv")
2.  To display all information about data and column names with data-type,
            using: data.info()
3.  To get all static value int data of data ,
            using: data.describe()
4.  To check whether a value is null or not,
            using: data.isnull()
5.  To fill all null (NAN) value with 1 and inplace for storing it permenant
            using: data.fillna(1,inplace=True)
6.  After the change to check whether null value exist or not to each column
            using: data.isnull()
7.  To set index as Passenger Id column
            using: data.set_index("Passenger_id")
8.  to gain matric count value(row,column)
            using: data.shape()
9.  To add new column of name Years at index 5
            using: data.insert(loc=5, column='Years', value=2000)
10. to drop column
            using: data.drop("column_name",axis=1,inplace=True)
11. to display data
            using: data
12. To set index as Passenger Id column as perment
            using: data.set_index("Passenger_id",inplace=True)
13. To select particular column from data
            using: data[['c_name', 'c_name']]
14. To count unique value
            using: data["c_name"].value_counts()
15. To count value that meets condition i.e ['Age']<=30
            using: len(data[data["c_name"] <=int)
16. To display all value that meets condition
            using: data[data["c_name"] <=int
17. To count value that meets condition i.e ['Age']<=30 and ['Age']<=40
            using: len(data[(data['Age']>=30) & (data['Age']<=40) ])
18. To display top 5 data
            using: data.head(5)
19. To count number of male and female from Sex column of data
            using: data['Sex'].value_counts()
20. To count number of '0' and '1'from survived column of data
            using:data['survived'].value_counts()

In [ ]:
import pandas as pd

# Titanic passenger details
# read csv file through github- link
data = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

#to display data
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [ ]:
#To display all information about data and column names with data-type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [ ]:
# To get all static value int data of data
data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [ ]:
#To check whether a value is null or not
data.isnull()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,False,False,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False
887,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False
889,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False

In [ ]:
#To count null data of each column
data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [ ]:
#To fill all null (NAN) value with 1 and inplace for storing it permenant
x = data.fillna(1,inplace=True)
x

In [ ]:
#After the change to check whether null value exist or not to each column
data.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
#To set index as Passenger Id column
new = data.set_index('PassengerId')
new

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,1,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,1,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,1,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,1,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1.0,1,2,W./C. 6607,23.4500,1,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,1,Q

In [ ]:
#to gain matric count value(row,column)
data.shape

(891, 12)

In [ ]:
#To add new column of name Years at index 5
data.insert(loc=5, column='Years', value=2000)

In [ ]:
#to drop column
drop = data.drop("Year",axis=1,inplace= True)
drop

In [ ]:
#to display data
data

,PassengerId,Survived,Pclass,Name,Sex,Years,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,2000,22.0,1,0,A/5 21171,7.2500,1,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2000,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,2000,26.0,0,0,STON/O2. 3101282,7.9250,1,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2000,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,2000,35.0,0,0,373450,8.0500,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,2000,27.0,0,0,211536,13.0000,1,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,2000,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,2000,1.0,1,2,W./C. 6607,23.4500,1,S
889,890,1,1,"Behr, Mr. Karl Howell",male,2000,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,2000,32.0,0,0,370376,7.7500,1,Q

In [ ]:
#To set index as Passenger Id column as perment
new = data.set_index('PassengerId',inplace = True)
new

In [ ]:
data

,Survived,Pclass,Name,Sex,Years,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,2000,22.0,1,0,A/5 21171,7.2500,1,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2000,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,2000,26.0,0,0,STON/O2. 3101282,7.9250,1,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2000,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,2000,35.0,0,0,373450,8.0500,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,2000,27.0,0,0,211536,13.0000,1,S
888,1,1,"Graham, Miss. Margaret Edith",female,2000,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,2000,1.0,1,2,W./C. 6607,23.4500,1,S
890,1,1,"Behr, Mr. Karl Howell",male,2000,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,2000,32.0,0,0,370376,7.7500,1,Q

In [ ]:
#to select particular column from data
selected_columns = data[['Name', 'Ticket']]
selected_columns

,Name,Ticket
PassengerId,,
1,"Braund, Mr. Owen Harris",A/5 21171
2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",PC 17599
3,"Heikkinen, Miss. Laina",STON/O2. 3101282
4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",113803
5,"Allen, Mr. William Henry",373450
...,...,...
887,"Montvila, Rev. Juozas",211536
888,"Graham, Miss. Margaret Edith",112053
889,"Johnston, Miss. Catherine Helen ""Carrie""",W./C. 6607
890,"Behr, Mr. Karl Howell",111369
891,"Dooley, Mr. Patrick",370376

In [ ]:
#to count unique value
data.Sex.value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
# to count value that meets condition i.e ['Age']<=30
len(data[data['Age']<=30])

586

In [ ]:
#To display all value that meets condition
young = data[data['Age']<=30]
young

,Survived,Pclass,Name,Sex,Years,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,2000,22.0,1,0,A/5 21171,7.2500,1,S
3,1,3,"Heikkinen, Miss. Laina",female,2000,26.0,0,0,STON/O2. 3101282,7.9250,1,S
6,0,3,"Moran, Mr. James",male,2000,1.0,0,0,330877,8.4583,1,Q
8,0,3,"Palsson, Master. Gosta Leonard",male,2000,2.0,3,1,349909,21.0750,1,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,2000,27.0,0,2,347742,11.1333,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...
885,0,3,"Sutehall, Mr. Henry Jr",male,2000,25.0,0,0,SOTON/OQ 392076,7.0500,1,S
887,0,2,"Montvila, Rev. Juozas",male,2000,27.0,0,0,211536,13.0000,1,S
888,1,1,"Graham, Miss. Margaret Edith",female,2000,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,2000,1.0,1,2,W./C. 6607,23.4500,1,S
890,1,1,"Behr, Mr. Karl Howell",male,2000,26.0,0,0,111369,30.0000,C148,C

In [ ]:
# to count value that meets condition i.e ['Age']<=30 and ['Age']<=40
len(data[(data['Age']>=30) & (data['Age']<=40) ])

180

In [ ]:
#to display top 5 data
t5 = data.head(5)
t5

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#To view all data
data

,Survived,Pclass,Name,Sex,Years,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,2000,22.0,1,0,A/5 21171,7.2500,1,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2000,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,2000,26.0,0,0,STON/O2. 3101282,7.9250,1,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2000,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,2000,35.0,0,0,373450,8.0500,1,S
...,...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,2000,27.0,0,0,211536,13.0000,1,S
888,1,1,"Graham, Miss. Margaret Edith",female,2000,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,2000,1.0,1,2,W./C. 6607,23.4500,1,S
890,1,1,"Behr, Mr. Karl Howell",male,2000,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,2000,32.0,0,0,370376,7.7500,1,Q

In [ ]:
#To count number of male and female from Sex column of data
data['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [ ]:
#To count number of '0' and '1'from survived column of data
data.Survived.value_counts()

0    549
1    342
Name: Survived, dtype: int64